[submodule "frontend/docter"]
	path = frontend/docter
	url = git@github.com:bugsz/SE_doctor_frontend.git
[submodule "backend/doctor"]
	path = backend/doctor
	url = git@github.com:permui/SE-doctor-backend.git
[submodule "backend/user"]
	path = backend/user
	url = https://github.com/yzhblind/ZJU-SE-backend-patient
