.divider-type{
    line-height: 10px;
}
.img-type{
    width:35vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 20px;
}
.text-type{
    font-size: 20px;
    border-width: 5px;

}
.border-type{
    border-width: 5px;
    border-color: black;
}
