.content{
    margin: 20px;
}


text{
    line-height:30px;
}

.labeldiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alter-info-button{
    margin-left: 20px;
    margin-top: 20px;
}