.site-statistic-demo-card {
    padding: 30px;
    background: #ececec;
}
.avatar-type{ 
    border-style:solid;
    border-color: #000000;
    border-width: 2px;
}
.welcome-info{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}